
body{
    background: url(../imagens/n-fundo.png) repeat-x;
    height: 233px;
    background-color: #FAF8DC;
    width: 100%;
    color: #3A5928;
    font-family: 'Rowdies', cursive;
    text-align: justify;
    
}

/***   header 
*/


nav{
    background: url(../imagens/n-brasil.png) no-repeat right top;
    height: 179px;
    text-align: justify;
    

}

li:first-child{
    background: none;
}

/*************************>Classes<***************************/

.cabecalho{
    text-align: center;
    width: 80%;
    margin: 0em auto;
   
}

.logo{
    margin: 12px auto;
    background: url(../imagens/logo.png) no-repeat top left;
}

.lista{
    display: inline-block;
    background-color: #98B9F5; 
    margin-top: 130px;
   
} 

.menu{
    background: url(../imagens/div.png) repeat-y ;
    display: inline-block;
    padding: 8px;
    color: #FAF8DC;
}

.menu:hover{
    color:#86EBAB;
    cursor: pointer;
   
}

/***   Main 
*/


main{
    
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #FAF8DC;
    width: 80%;
    text-align: center;
}
/*************************>Classes<***************************/
/***    
*/


.entrevistas{
   width: 22%;
    float: left;
    color: #6ED1D4;
    
}

.entrevistas h3, .direita h3, .esquerda h3{
    display: block;
    background-color: #98B9F5;
    padding: 8px; 
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
    color: #FAF8DC;
    
    
}

.entrevistas li{
    
    padding: 8px 0px;
    text-align: justify;
    text-transform: uppercase;
 
    
}

.conteudo{
    width: 74%;
    float: right;
    
}

.conteudo img{
    width: 100%;
}

.direita{
    
    float: right;
    width: 47%;
}

.esquerda{
    
    float: left;
    width: 47%;
}

.espacamento{
    padding-bottom: 8px;
    margin: 0px 0px 16px 0px;
}
.div-p{
    text-align: justify;
}

.sub{
    
    font-size: 18px;
    font-weight: bold;
    background-color: #86EBAB;
    margin: 8px 0px;
    display: inline-block; 
    padding: 4px;
    text-transform: uppercase;
    color: #FAF8DC;

}

.texto{
    height: 32px;
    overflow: hidden;
    text-align: justify;
}

/***   Footer 
*/
.clear{
    clear: both;
}

footer{
    text-align: center;
   background-color: #86EBAB;
   padding: 26px 0px;
}